
form {
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
    background: rgba(238, 234, 225, 0.6);
    color: #05487c;
    padding: 2em;
    border-radius: 0.5em;
}

label {
    display: block;
    padding-bottom: 0.5em;
    text-align: left;
}

input,
textarea,
select {
    width: 100%;
    background: rgba(238, 234, 225, 0.6);
    color: #05487c;
    border: none;
    border-bottom: 0.1em solid #05487c;
    margin-bottom: 1em;
}

textarea {
    border-radius: 0.25em;
}

