.star-rating {
    display: flex;
    align-items: left;
    width: 160px;
    flex-direction: row-reverse;
    position: relative;
}

.star-rating input {
    display: none;
}

.star-rating>label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
}

.star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
}

.star-rating label:active::before {
    transform: scale(1.1);
}

.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.star-rating input:checked~label:before {
    content: '\2605';
}

@-moz-document url-prefix() {
    .star-rating input:checked~label:before {
        font-size: 36px;
        line-height: 21px;
    }
}

body {
    font-family: var(--font-family);
    background-color: #f8f9fa;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--font-family);
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
}

input[type="range"] {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"],
button[type="submit"] {
    background-color: #fff;
    color: #333;
}

button[type="submit"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="range"]:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


:root {
    --primary-color: #becc00;
    --secondary-color: #6c757d;
    --font-family: Arial, sans-serif;
}
